<!-- Header -->

<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                <%= image_tag "main_pic.jpg", class: "img-responsive-top" %>
                <div class="intro-text">
                    <span class="name">Hi! I am Thanapon Arch-int</span>
                    <hr class="star-lights">
                    <span class="skills">Part Time Dreamer - Full Time Creator </span>
                </div>
            </div>
        </div>

    </div>

</header>
  
<!-- About Section -->
<section  id="about">
    <br>
   
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About Me</h2>
                 <hr class="star-primary">
            </div>
        </div>
        <div class="row ">
           
            <p>&emsp;&emsp;&emsp;Hello, my name is Thanapon but you can call me pon. I am a third year engineering student at SIIT who is interested in a cashless society system and like to code. An enthusiastic, friendly, and optimistic guy that is eager to learn new things and technologies. In my free time, I like to watch a vlog, stay updated on the latest tech on the internet and play badminton.
            </p>
        </div>
        <hr class="line-color">
            <div class="row">
                <div class="col-lg-6 ml-auto">    
 
                    <div class="row" style="padding-bottom: 15px">    
                        <div class="col-lg-12 text-center">
                           <svg class="clip-svg">
                              <defs>
                                <clipPath id="polygon-clip-hexagon" clipPathUnits="objectBoundingBox">
                                  <polygon points="0.5 0, 1 0.25, 1 0.75, 0.5 1, 0 0.75, 0 0.25" />
                                </clipPath>
                              </defs>
                            </svg>


                            <div class="polygon-each-img-wrap">
                                <%= image_tag "pro1.jpg", class: "polygon-clip-hexagon" %>
                              
                            </div>

                        </div>
                    </div>
                    <div class="row" style="padding-left: 10%;">    
                        <p>
                            EDUCATION:<small> Sirindhorn International Institute of Technology</small><br>
                            MAJOR: <small>Computer Engineering</small><br>
                        </p>
                   
                    </div>
                </div>  
                <div class="col-lg-6 ml-auto">
                    <div class="row" ">
                        <div class="col-lg-12 text-center">
                            <h3>Skill</h3>
                             
                        </div>

                    </div>
                    <div class="row" style="padding-bottom: 8px;">
                        <div class="col-sm-3">
                            <p>HTML:</p>
                        </div>
                        <div class="col-sm-9">
                           <div class="progress">
                              <div class="progress-bar progress-bar-striped bg-info" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 80%"> 80 %</div>
                            </div>                             
                        </div>                                                     
                 </div>
                 <div class="row" style="padding-bottom: 8px;">
                        <div class="col-sm-3">
                            <p>PHP:</p>
                        </div>
                        <div class="col-sm-9">
                           <div class="progress">
                              <div class="progress-bar progress-bar-striped bg-info" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"> 75 %</div>
                            </div>                             
                        </div>                           
                 </div>
                 <div class="row" style="padding-bottom: 8px;">
                        <div class="col-sm-3">
                            <p>CSS:</p>
                        </div>
                        <div class="col-sm-9">
                           <div class="progress">
                              <div class="progress-bar progress-bar-striped bg-info" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 50%"> 50 %</div>
                            </div>                             
                        </div>
                 </div>
                   <div class="row" style="padding-bottom: 8px;">
                        <div class="col-sm-3">
                            <p>JavaScript:</p>
                        </div>
                        <div class="col-sm-9">
                           <div class="progress">
                              <div class="progress-bar progress-bar-striped bg-info" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 50%"> 50 %</div>
                            </div>                             
                        </div>
                 </div>
                   <div class="row" style="padding-bottom: 8px;">
                        <div class="col-sm-3">
                            <p>Angular:</p>
                        </div>
                        <div class="col-sm-9">
                           <div class="progress">
                              <div class="progress-bar progress-bar-striped bg-info" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 80%"> 80 %</div>
                            </div>                             
                        </div>
                 </div>
                   <div class="row" style="padding-bottom: 8px;">
                        <div class="col-sm-3">
                            <p>Ruby/Rails:</p>
                        </div>
                        <div class="col-sm-9">
                           <div class="progress">
                              <div class="progress-bar progress-bar-striped bg-info" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 30%"> 30 %</div>
                            </div>                             
                        </div>
                 </div>
                </div>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <a href="https://s3-ap-southeast-1.amazonaws.com/myresume-2018/Thanapon_Computer+Engineer_SIIT+.pdf" class="btn btn-lg btn-outline">
                    <i class="fa fa-download"></i> View my Resume
                </a>
            </div>
        </div>
    
</section>

<!-- Portfolio Grid Section -->

<section class="success" id="portfolio">
    <br>
    <br>
   
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Portfolio</h2>
                <hr class="star-light">
               
            </div>
        </div>
        <div class="row">
                <% @posts.each do |post| %>
                <div class="col-sm-4 portfolio-item">
                <%= link_to post_path(post) do %>
                  <%= image_tag post.image.url, class: 'img-responsive' %>
                <% end %>
                </div>
            <% end %>
        </div>
    </div>
</section>



<!-- Contact Section -->
<section id="contact">
<br>
<br>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2><%= mail_to "thanapon.archint@gmail.com", "Contact Me", subject: "Hi! Please include your name and email address" %></h2><br>
                <hr class="star-primary">
            </div>
        </div>
</section>



<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
    <a class="btn btn-primary" href="#page-top">
        <i class="fa fa-chevron-up"></i>
    </a>
</div>